<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            {% include "common/config.twig" %}
            <script src="/js/jquery/jquery.js"></script>
            <script src="/bootstrap/js/bootstrap.js"></script>
            <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
            <link href="/css/badger.css" rel="stylesheet" media="screen">
            <title>{% block currentPage %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body class="container">
        {% block navigation %}
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="{{ app.request.baseUrl }}">Badger</a>
                    <ul class="nav">
                        <li{% if 'Badges' == block('currentPage') %} class="active"{% endif %}><a href="{{ url('badges') }}">Badges</a></li>
                        <li{% if 'Recipients' == block('currentPage') %} class="active"{% endif %}><a href="{{ url('recipients') }}">Recipients</a></li>
                        <li{% if 'Award' == block('currentPage') %} class="active"{% endif %}><a href="{{ url('award') }}">Award</a></li>
                    </ul>
                </div>
            </div>
        {% endblock %}
        <h1>Badger &gt; {{ block('currentPage') }}</h1>
        {% block content %}{% endblock %}
    </body>
</html>
